<div class="flex-grow-1"></div>
<div id="footerwrap" class="lzu-foot">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 {% if page.legacy %}col-4{% else %}col-12{% endif %}">
        <p class="lzuhidden">本站由{{ site.operator }}支持创办并维护。</p>
        <p>本站相关源码可在 <a href="https://github.com/tuna/tunasync"><em>这里(镜像管理器)</em></a> 和 <a href="https://github.com/tuna/mirror-web"><em>这里(镜像站网页)</em></a> 获取。</p>
        <p class="lzuhidden">根据相关法律法规，本站不对欧盟用户提供服务。</p>
        {% if site.footnote %}
        <p class="lzuhidden">{{ site.footnote }}</p>
        {% endif %}
      </div>
      <div class="col-lg-4 {% if page.legacy %}col-4{% else %}col-12{% endif %}">
        <h4 class="mt-0">Contact Us</h4>
        <div class="lzuhidden">
          <ul class="social">
            <li>
            <a href="https://github.com/LZUOSS/Mirror">{% fa_svg fab.fa-github %} GitHub</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 {% if page.legacy %}col-4{% else %}col-12{% endif %}">
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

{% fa_svg_generate %}
